<div class="container">
	<header class="container-fluid">
		<div class="col-xs-12">
			<h1 class="title-lg">Research on Lead Contamination</h1>
			<h2 class="subtitle-lg">Across the nation and in CT and NY, unsafe levels of lead have been found in thousands of water systems. The extent is the problem is not yet known, because lead contamination can happen at the per-building level.</h2>
		</div>
	</header>

	<section class="container-fluid">
		<div class="col-xs-12">
			<p class="subtitle-md pull-quote">There are about 75 million homes across the country built before 1980, meaning they’re most likely to contain some lead plumbing. That's more than half of the country’s housing units, according to the Census Bureau. The heaviest concentrations are in New York, Rhode Island, Massachusetts, Connecticut and Pennsylvania.</p>
			<div class="citation">&ndash; <%= link_to "USA Today", "http://www.usatoday.com/story/news/2016/03/11/nearly-2000-water-systems-fail-lead-tests/81220466/" ,target: "_blank" %></div>
			
			<p class="subtitle-md pull-quote">[T]here are about 90,000 public schools and 500,000 child care facilities nationwide that are not regulated under the Safe Drinking Water Act. These unregulated schools and facilities may or may not be voluntarily testing their drinking water.</p>
			<div class="citation">&ndash; <%= link_to "Trend CT", "https://trendct.org/2016/04/04/where-lead-was-detected-in-connecticuts-drinking-water/" ,target: "_blank" %></div>

			<p class="subtitle-md pull-quote">The Parkway School in Greenwich [CT] last year found lead levels roughly twice the federal allowable limit for drinking water, and the Georgetown Business Condo Association in Redding [CT] discovered lead ranging from 17 parts per billion to 190 ppb.</p>
			<div class="citation">&ndash; <%= link_to "CT Post", "http://www.ctpost.com/local/article/Lead-in-some-Fairfield-County-drinking-water-6908067" ,target: "_blank" %></div>			

			<p class="subtitle-md pull-quote">Millions of Americans may be drinking water that is contaminated with dangerous doses of lead. The Environmental Protection Agency (EPA) knows it; state governments know it; local utilities know it. The only people who usually don’t know it are those who are actually drinking the toxic water.</p>
			<div class="citation">&ndash; <%= link_to "NBC News", "http://investigations.nbcnews.com/_news/2012/08/08/13179335-how-an-epa-project-backfired-endangering-drinking-water-with-lead" ,target: "_blank" %></div>

			<p class="subtitle-md pull-quote">If the health risks of partial lead service line replacement were clarified, more homeowners would be inclined to pay for lead pipe replacement, or at least consider the option more seriously.</p>
			<div class="citation">&ndash; <%= link_to "Harvard Law School", "http://blogs.harvard.edu/billofhealth/2013/04/01/public-health-protection-under-the-epa-lead-and-copper-rule/" ,target: "_blank" %></div>


		</div>
	</section>
</div>