<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="http://www.leadpipetesting.com<%= request.path %>">
    <title><%= SITE_TITLE %></title>
    <link rel="icon" href="<%= asset_path('favicon.png') %>">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		<%= render "layouts/nav" %>
		<div class="nav-buffer"></div>

    <%= yield %>

    <!-- Start Footer -->
		<footer class="main-footer">
		    <div class="container-fluid">

		        <small>&copy; 2017 by <%= FIRM_TITLE %> | <a target="_blank" href="mailto:info@leadpipetesting.com">info@leadpipetesting.com</a> | Phone: 203-912-7032</small>

		    </div>
		</footer>
		<!-- End Footer -->
  </body>
</html>
